<div class="text-center mt-5 pt-5">
  <h1 class="display-4 text-danger">404 - Oops!</h1>
  <p class="lead">Looks like Rushabh’s Store couldn’t find what you were looking for.</p>
  <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" alt="404 image" width="200" class="my-4">
  <p>Let’s get you back on track:</p>
  <a href="/shop" class="btn btn-warning">Return to Storefront</a>
</div>
