<div class="row">
  <div class="col-md-6">
    <h2 class="text-success">Our Journey</h2>
    <p>
      Welcome to Rushabh’s Storefront! We're passionate about delivering quality products with purpose and style.
    </p>
  </div>
  <div class="col-md-6">
    <img src="/images/storefront.jpg" alt="Our Store" class="img-fluid rounded shadow" />
  </div>
</div>
