<h2>Add Category</h2>

<form method="POST" action="/categories/add">
  <fieldset>
    <label for="category">Category:</label>
    <input
      autofocus
      class="form-control"
      id="category"
      name="category"
      type="text"
    />
    <hr />
    <input class="btn btn-primary" type="submit" value="Add Category" />
  </fieldset>
</form>
