<h2>Login</h2>

{{#if errorMessage}}
  <div class="alert alert-danger"><strong>Error:</strong> {{errorMessage}}</div>
{{/if}}

<form method="POST" action="/login">
  <input type="text" name="userName" placeholder="User Name" required value="{{userName}}" /><br />
  <input type="password" name="password" placeholder="Password" required /><br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
